body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    width: 320px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.display {
    grid-column: 1 / span 4;
    text-align: right;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

button {
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    background-color: #e0e0e0;
    cursor: pointer;
}

button.clear {
    background-color: #ff0;
}

button.operator {
    background-color: #ffa500;
    color: #fff;
}

button.equal {
    background-color: #32CD32;
    color: #fff;
     grid-column: 4;
    grid-row: 6;
}

button.zero {
    grid-column: 1 / span 2;
    text-align: center;
}